body{
    margin: 0;
    background-color: rgb(132, 230, 255);
    min-height: 100vh;
   color: aliceblue;
}
.logos{
    background-color: #757575;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.entete{
    background-color: #757575;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif                               ;
}

h1 {
    padding: 0.67em;
    margin: 0;
}

.deuxieme{
    background: linear-gradient( #757575,20%, #84e6ff);
}
.description-college {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.image-left {
    float: left;
    max-width: 35%;
    height: auto;
    margin: 10px;
}
.clear-float {
    display: block;
    clear: both;
}

.troisieme{
    background: linear-gradient(#84e6ff, #84e6ff);
}

.animation {
    position: relative;
    height: 100px;
    display: flex;
    justify-content: space-between;
    }
.image-right{
    float: right;
   max-width: 30%;
    height: auto;
    margin: 10px;
}
.description-sfi{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.ballon{
    position: absolute;
    bottom: -130px;
    left: calc(10% + 45px);
    animation: move 3s infinite ease-in-out;
    opacity: 0;
    scale: 62%;
    
  }

@keyframes move {
    0% {
    }
    20%{ /* Apparition */
        opacity: 100%;
        bottom: -130px;
        left: calc(10% + 45px);
    }
    50% { /* hauteur max du tir */
        bottom: calc(0.35 * 100vw);
    }
    80% { /* Arrivée dans le panier */
        bottom: -10px;
        left: calc(90% - 140px);
        opacity: 100%;
    }
    100% { /* disparition */ 
        bottom: -50px;
        left: calc(90% - 140px);
    }
}

 main > div{ 
    padding: 5% 10% 0 10%;
   max-width: 80%;
}
