body{
    margin: 0;
    background-color: rgb(132, 230, 255);
   
    
}
.entete{
    background-color: #757575;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
align-items: center;
}
.deuxieme{
    background: linear-gradient( #757575,20%, #84e6ff);
    display: flex;
    gap: 800px;
    justify-content:space-between;
   color: aliceblue;
}
.troisieme{
    display: flex;
    gap: 800px;
    justify-content:space-between;
    background: linear-gradient(#84e6ff, #84e6ff);
    text-align: right;
    color: aliceblue;
}